
.Courses{
    background-image: linear-gradient(to bottom right, #164a41, #4d774e);
    height: 100%;
    min-height: 100%;
    text-align: center;
}
.Card{
    background-color: #164a41;
    border: solid #f1b24a 2px;
    font-size: 20px;
    min-height: 33em;
    height: 100%;
}
.card-img-top{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
#background{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #164a41;
}
.title{
    font-size: 24px;
}
.btn-block{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}
.card-body{
    margin-bottom: 2em;
}