*{
    background-color: #eee2dc;
    color: #ac3b61;
}
.gif{
    background-color:  #edc7b7;
    height: 46vh;
    width: 100%;
}
.carousel{
    font-size: 24px;
}
.header{
    font-size: 50px;

}
.links-container{
    border-top: solid 2px white;
    width: 100%;
}